jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Clone repository
      run: git clone https://github.com/reginaldford/sms

    - name: Initialize and update submodules
      working-directory: ./sms
      run: git submodule update --recursive --init

    - name: Run make check
      working-directory: ./sms
      run: make check

